// Colors

$blue:#3B50CE;


// Font
@import url(http://fonts.googleapis.com/css?family=Lato);
$font:"Lato",Helvetica,sans-serif;

// Mixins

@mixin box-shadow($in) {
	box-shadow:$in;
	-webkit-box-shadow:$in;
	-moz-box-shadow:$in;
	-o-box-shadow:$in;
	-ms-box-shadow:$in;
}